.wrapper {
  margin: 10%;
  display: flex;
  flex-direction: column;
  gap: 1vh;
}

.separator {
  height: 2vh;
  border-bottom: 1px solid white;
  margin-bottom: 2vh;
}

.option {
  cursor: pointer;
}
