.wrapper {
  display: flex;
  flex-direction: column;
  height: 15vh;
  border-radius: 10px;
}
.contentWrapper {
  margin: 2%;
}
.separator {
  width: 20%;
  height: 2vh;
  border-bottom: 1px solid #4b4c4f;
  margin-bottom: 2vh;
}
.content {
  text-align: center;
}
.loading {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
